.combo-box-popup .list-cell {
    -fx-padding: 4 0 4 20 ;
}

.combo-box-popup .list-cell:section-header {
    -fx-font: italic 10pt sans-serif ;
    -fx-padding: 4 0 4 5 ;
}


.custom:selected {
    -fx-border-color : black !important;
    -fx-border-radius : 5px !important;
}

.custom
{
	-fx-background-color :  #81c5ed !important;
	-fx-cursor: hand;
}


/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #f0a340;
}

/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: white;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #f0a340;
}

.jfx-slider > .animated-thumb {
     -fx-background-color: #f0a340;
}

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: white;
     -fx-text-fill: black;
}